
@{
    ViewBag.Title = "DeneyimEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4>Yeni Deneyim Ekle</h4>
<br />
<form method="post">
    <input type="text" name="baslik" class="form-control" placeholder="Başlık yazınız."/>
    <br />
    <input type="text" name="alt_baslik" class="form-control" placeholder="Alt Başlık Yazınız."/>
    <br />
    <input type="text" name="tarih" class="form-control" placeholder="Çalıştığınız Tarih Aralığını Yazınız."/>
    <br />
    <textarea name="aciklama" rows="5" class="form-control" placeholder="Açıklama Yazınız."></textarea>
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>

